/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-fira-sans {
  font-family: "Fira Sans", sans-serif;
}

.font-roboto-slab {
  font-family: "Roboto Slab", serif;
}

.font-rajdhani {
  font-family: "Rajdhani", sans-serif;
}

.font-orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.font-orbitron-logo {
  font-family: "Rajdhani", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.custom-tooltip {
  background-color: #c30f0f; /* Custom background color */
  color: #fff; /* Custom text color */
  font-size: 4px; /* Custom font size */
  padding: 18px; /* Custom padding */
  border-radius: 4px; /* Custom border radius */
}

.App-header {
  background: rgb(18,0,41);
  background: linear-gradient(45deg, #150029 20%, rgba(22,22,22,1) 70%);
  height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


button {
  font-size: 0.9em;
  padding: 0.6em 1.9em;
  border-radius: 0.3em;
  border: none;
  background-color: #000000dc;
  color: #fff;
  cursor: pointer;
  box-shadow: 2px 2px 3px #000000b4;
}

.container {
  position: relative;
  padding: 3px;
  width: auto;
  background: linear-gradient(-45deg, #44bbf3, #9a46e9);
  border-radius: 0.3em;
  transition: all 0.3s ease-in-out;
}


.container:hover {
  background: linear-gradient(90deg, #0382bdbd, #9f43f5d8);
  box-shadow: 0 0 25px #c286fa6a;
  /* filter: blur(1.2em); */
}


 .sign-button {
  position: relative;
  padding: 3px ;
  background: linear-gradient(to right, #67e8f9, #a855f7);
  font-size: 18px;
  color: #181818;
  border-radius: 8px;
  box-shadow: 0px 0px 20px #39939f;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.sign-button:hover {
  background: linear-gradient(-105deg, #67e8f9, #a855f7);
  color: #67e8f9;
  box-shadow: 0 0 25px #c286fa6a;
} 

.btn{
  padding: 7px 42px;
}




